<p-toolbar>
  <div class="p-toolbar-group-left">
    <span>TWU Merchant Editor</span>
  </div>
  <div class="p-toolbar-group-right">
    <p-button [style]="{marginRight: '16px'}" label="Show About and Hotkeys" icon="pi pi-info" (onClick)="showHotkeys()"></p-button>
    <p-button [style]="{marginRight: '16px'}" label="New Merchant Definition" icon="pi pi-save" (onClick)="handleNewMerchant()"></p-button>
    <p-button [style]="{marginRight: '16px'}" label="Export Merchant Definition" icon="pi pi-download" (onClick)="handleExportClick()"></p-button>
    <p-button label="Import Merchant Definition" icon="pi pi-upload" (onClick)="handleLoadClick()"></p-button>
  </div>
</p-toolbar>
<div *ngIf="!merchant" style="width: 100vw; display: flex; align-content: center; align-items: center; justify-content: center">
  <p-card [style]="{marginTop: '64px'}" header="Simple Card">
    <img style="width: 300px; height: 300px" src="assets/undraw_empty_cart_co35.svg" alt="empty cart">
    <ng-template pTemplate="footer">
      Either create a new merchant defintion or import one.
      <div style="display: flex; flex-direction: column;  align-content: center; align-items: center; justify-content: center">
        <p-button [style]="{margin: '8px'}" label="Import Merchant Definition" icon="pi pi-upload" (onClick)="handleLoadClick()"></p-button>
        <p-button [style]="{margin: '8px'}" label="New Merchant Definition" icon="pi pi-save" (onClick)="handleNewMerchant()"></p-button>
      </div>
    </ng-template>
  </p-card>
</div>

<p-table *ngIf="merchant" [value]="merchant.Lines || []">
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <input style="min-width: 600px" pInputText [(ngModel)]="merchant.Name"/>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Item ID</th>
      <th>Item Name</th>
      <th>Price Gold</th>
      <th>Price Silver</th>
      <th>Price Copper</th>
      <th>Count</th>
      <th>Buys</th>
      <th>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr (keyup)="handleRowKeyUp($event, product)">
      <td>{{product.ID}}</td>
      <td>{{product.ItemID}}</td>
      <td>
        <p-autoComplete [ngModel]="product.Item"
                        [inputId]="'input-product-row-' + product.ID"
                        appendTo="body"
                        scrollHeight="400px"
                        (ngModelChange)="applySuggestionToLine($event, product)"
                        [suggestions]="product.Suggestions || []"
                        field="Name"
                        (completeMethod)="filterTWUItemLine($event, product)">
          <ng-template let-ceItem pTemplate="item">
            <span>{{ceItem.Name}}</span><span *ngIf="ceItem.DLC !== 'None'"> [{{ceItem.DLC}}]</span>
          </ng-template>
        </p-autoComplete>
      </td>
      <td>
        <p-inputNumber [(ngModel)]="product.PriceGold"></p-inputNumber>
      </td>
      <td>
        <p-inputNumber [(ngModel)]="product.PriceSilver"></p-inputNumber>
      </td>
      <td>
        <p-inputNumber [(ngModel)]="product.PriceCopper"></p-inputNumber>
      </td>
      <td>
        <p-inputNumber [(ngModel)]="product.Count"></p-inputNumber>
      </td>
      <td>{{product.Buy}}</td>
      <td>
        <p-button icon="pi pi-trash" (onClick)="deleteLine(product)"></p-button>
        <p-button [style]="{marginLeft: '8px'}"  icon="pi pi-clone" (onClick)="duplicateLine(product)"></p-button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      <p-button label="Add Item" icon="pi pi-plus" (onClick)="handleAddItem()"></p-button>
      <p-button [style]="{marginLeft: '8px'}" label="Sort by Name" icon="pi pi-plus" (onClick)="handleSortMerchant()"></p-button>
    </div>
  </ng-template>
</p-table>
<p-dialog header="Load Merchant Definition" [modal]="true" [(visible)]="displayLoadDialog">
  <textarea pInputTextarea [(ngModel)]="merchantDefinition" style="width: 50vw; height: 50vh">
  </textarea>
  <ng-template pTemplate="footer">
    <p-button label="Load" icon="pi pi-plus" (onClick)="handleLoadMerchant()" [disabled]="!hasMerchantDef()"></p-button>
  </ng-template>
</p-dialog>

<p-dialog header="Exported Merchant Defintion" [modal]="true" [(visible)]="displayExport">
  <textarea *ngIf="displayExport" pInputTextarea [readOnly]="true" [ngModel]="getExportedMerchantDef()" style="width: 50vw; height: 50vh">
  </textarea>
</p-dialog>
<p-dialog header="Hotkeys" [modal]="true" [(visible)]="isHotkeysVisible">
  <h3>About</h3>
  <p>
    Just a simple editor for <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2846119484">TWU Merchants.</a>.
    <br/><br/>
    Hosted with <a href="https://pages.github.com/">Github Pages</a>. For Privacy, visit GH pages to see what the conditions are. This
    editor is open source, no tracking added. You can see the source code <a href="https://github.com/Nia292/twu-merchant-edtior">here.</a>
  </p>
  <h3>Hotkeys</h3>
  <p>
    There are some hotkeys available:
  </p>
  <ul>
    <li><strong>Shift+Enter</strong> creates a new line in the merchant editor and focuses the item name</li>
    <li><strong>Shift+Delete</strong> deletes the line you currently have focus on and focuses the previous item</li>
  </ul>
  <p>
    Feel free to suggest more hotkeys via discord.
  </p>
</p-dialog>
